In [92]:
import nltk
import pandas as pd
import numpy as np

In [97]:
authors = {"EAP" : "Edgar Allan Poe", "HPL" : "HP Lovecraft", "MWS" : "Mary Shelley"}
train = pd.read_csv('/home/shashankh/NLP/novels/train.csv')
train

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [94]:
authorGrp = train.groupby('author')
text = ''
stop_words = set(nltk.corpus.stopwords.words('english'))
authorFreq = {}
new_authorFreq = {}
stop_words = stop_words.union({'I','The'})

for author, data in authorGrp:
    text = data['text'].str.cat(sep = ' ')
    tokens = []
    new_tokens = []
    tokens = nltk.word_tokenize(text)
    new_tokens = [word for word in tokens if(word.isalpha() and word not in stop_words)]
    authorFreq[author] = nltk.FreqDist(tokens)
    new_authorFreq[author] = nltk.FreqDist(new_tokens)

In [95]:
# To print the freq of entered word by each author

word = input('Enter word:')
for key in authorFreq.keys():
    print(authors[key])
    print(authorFreq[key][word])
    print('\n')

Enter word:fail
Edgar Allan Poe
25


HP Lovecraft
6


Mary Shelley
10

In [96]:
# To print most used word by each author

for key in new_authorFreq.keys():
    print(authors[key])
    word = new_authorFreq[key].max()
    print("Most used word: " + word + " -> " + str(new_authorFreq[key][word]))
    print('\n')

Edgar Allan Poe
Most used word: upon -> 957


HP Lovecraft
Most used word: could -> 487


Mary Shelley
Most used word: would -> 466