In [3]:
import nltk
import pandas as pd
import numpy as np

In [13]:
authors = {"EAP" : "Edgar Allan Poe", "HPL" : "HP Lovecraft", "MWS" : "Mary Shelley"}
train = pd.read_csv('/home/shashankh/NLP/novels/train.csv')
train.head(5)

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL

In [40]:
authorGrp = train.groupby('author')
text = ''
stop_words = set(nltk.corpus.stopwords.words('english'))
tokens = {}
new_tokens = {}

for author, data in authorGrp:
    print(author)
    text = data['text'].str.cat(sep = ' ')
    tokens[author] = nltk.word_tokenize(text)
    new_tokens[author] = [word for word in tokens if(word.isalnum() and word not in stop_words)]
print(tokens)
print(new_tokens)

EAP
HPL
MWS

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)